.string-light {
    width: 450px;
    position: fixed;
    top: -5%;
    right: 50%;

    margin-right: 350px;
    z-index: 20;
}

.string-light-2 {
    width: 450px;
    position: fixed;
    top: -5%;
    right: 50%;

    margin-right: -750px;
    z-index: 20;
}

.glow {
    width: 10px;
    height: 10px;
    position: fixed;
    top: -5%;
    right: 50%;
    background-color: #ffe96f;
    border-radius: 100px;
    z-index: 20;
    box-shadow: 0 0 50px 15px #fff07c;
}

.bulb-light-1 {
    margin-top: 50px;
    margin-right: 370px;
}

.bulb-light-2 {
    margin-top: 71px;
    margin-right: 416px;
}

.bulb-light-3 {
    margin-top: 86px;
    margin-right: 466px;
}

.bulb-light-4 {
    margin-top: 96px;
    margin-right: 518px;
}

.bulb-light-5 {
    margin-top: 98px;
    margin-right: 570px;
}

.bulb-light-6 {
    margin-top: 95px;
    margin-right: 623px;
}

.bulb-light-7 {
    margin-top: 85px;
    margin-right: 676px;
}

.bulb-light-8 {
    margin-top: 70px;
    margin-right: 725px;
}

.bulb-light-9 {
    margin-top: 51px;
    margin-right: 770px;
}

.bulb-light-10 {
    margin-top: 50px;
    margin-right: -330px;
}

.bulb-light-11 {
    margin-top: 70px;
    margin-right: -377px;
}

.bulb-light-12 {
    margin-top: 86px;
    margin-right: -425px;
}

.bulb-light-13 {
    margin-top: 95px;
    margin-right: -477px;
}

.bulb-light-14 {
    margin-top: 98px;
    margin-right: -530px;
}

.bulb-light-15 {
    margin-top: 95px;
    margin-right: -582px;
}

.bulb-light-16 {
    margin-top: 84px;
    margin-right: -635px;
}

.bulb-light-17 {
    margin-top: 70px;
    margin-right: -682px;
}

.bulb-light-18 {
    margin-top: 50px;
    margin-right: -730px;
}

