.music {
  position: absolute;
  width: 100%;
  border: 0px solid #000;
  color: #DF8453;
}

.noot-1,
.noot-2,
.noot-3,
.noot-4 {
  position: fixed;
  animation: notes 1.5s infinite linear;
  font-size: 35px;
  opacity: 0;
}

.noot-1 {
  top: 320px;
  left: 0;
  animation-delay: 0.1s;
}

.noot-2 {
  top: 200px;
  left: 30%;
  animation-delay: 1s;
}

.noot-3 {
  top: 90px;
  left: 60%;
  animation-delay: 1.5s;
}

.noot-4 {
  top: 40px;
  left: 90%;
  animation-delay: 2s;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}

.cassette {
  cursor: pointer;
  width: 140px;
  position: relative;
  left: -270%;
  z-index: 10;
}

.night-note {
  color: #ffe96f;
  text-shadow: 0 0 20px rgba(255, 255, 224, 0.8), 0 0 40px rgba(255, 255, 192, 0.6), 0 0 60px rgba(255, 255, 160, 0.4), 0 0 80px rgba(255, 255, 128, 0.2);
}
