.page {
    font-family: 'Open-sans';
    height: 100vh;
}

.page-2 {
    font-family: 'Open-sans';
    width: 100vw;
    background-color: #F7ECE3;
}

.page-3 {
    font-family: 'Open-sans';
    height: 100vh;
    background-color: #C8A18F;
}

.background-2 {
    background-color: #F6F6F6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background-3 {
    background-color:lightblue;
    margin:0 -8px; padding:0 8px;
}


.name {
    text-align: left;
    font-family: 'Finger-paint';
    font-size: 72px;
    color: #7C5B54;
    margin: 180px 0px 0px 6%;
}

.introduction {
    font-size: 18px;
    text-align: left;
    margin: 30px 0px 0px 6%;
}

.intro-cont {
    --bs-gutter-x: 0 !important;
}

.intro-option {
    display: flex;
    text-align: left;
    padding: 0;
    margin: 30px 0px 0px 6%;
}

.prof-button {
    margin-right: 20px;
}

.prof-button, .casual-button {
    border: none;
    background-color: transparent;
}

.chosen {
    color: #7C5B54;
    border-bottom: 3px solid #7C5B54;
}

.eyes-follow {
    margin: 290px 0px 0px 50px;

}

.eyes {
    display: flex;
}

.eye {
    background-color: #FFFFFF;
    width: 200px ;
    height: 200px;
    border-radius: 50%;
}

.pupil {
    background-color: #7C5B54;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative;
    top: 10%;
    left: 0%;
}

.mouth {
    background-color: transparent;
    width: 100px;
    height: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px;
    border-bottom: 20px solid #7C5B54;
    -moz-border-radius: 0 0 120px 120px / 0 0 90px 90px;
	-webkit-border-radius: 0 0 120px 120px 0 0 90px 90px;
	border-radius: 0 0px 150px 150px / 0 0 100px 100px;
}

.left-eyebrow {
    background-color: transparent;
    width: 110px;
    height: 30px;
    rotate: 170deg;
    margin-top: -50px;
    margin-bottom: 30px;
    margin-left: 50px;
    border-bottom: 20px solid #7C5B54;
    -moz-border-radius: 0 0 120px 120px / 0 0 90px 90px;
	-webkit-border-radius: 0 0 120px 120px 0 0 90px 90px;
	border-radius: 0 0px 180px 180px / 0 0 150px 150px;
}

.right-eyebrow {
    background-color: transparent;
    width: 110px;
    height: 30px;
    rotate: -170deg;
    margin-top: -50px;
    margin-bottom: 30px;
    margin-left: 50px;
    border-bottom: 20px solid #7C5B54;
    -moz-border-radius: 0 0 120px 120px / 0 0 90px 90px;
	-webkit-border-radius: 0 0 120px 120px 0 0 90px 90px;
	border-radius: 0 0px 150px 150px / 0 0 100px 100px;
}

.skills-header, .exp-header {
    text-align: start;
    margin: 0px 0px 0px 6%;
    padding-top: 5%;
    font-family: 'Finger-paint';
    color: #A57D71;
}

.skill-cont {
    padding-left: 80px;
    --bs-gutter-x: 0 !important;
}

.skill-list {
    padding-top: 0.5%;
}

.skill-list li {
    float: left;
    margin-top: 20px;
}

.skill-tag {
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 3px 15px 3px 15px;
    margin-right: 20px;
}

.js {
    margin-right: 20px;
    color: #edd308;
}

.ts {
    color: #007ACC;
}

.py {
    color: #00549D;
}

.cplus {
    color: #00549D;
}

.php {
    color: #484C89;
}

.react {
    color: #00D8FF;
}

.django {
    color: #2BA977;
}

.sass {
    color: #F06292;
}

.bootstrap {
    color: #673AB7;
}

.git {
    color: #DE4C36;
}

.aws {
    color: #F68536;
}

.mysql {
    color: #00549D;
}

.skill-icon {
    margin-right: 10px;
}

.ts-skill-icon,
.cplus-skill-icon,
.django-skill-icon,
.mysql-skill-icon {
    width: 20px;
    margin-top: -3px;
    margin-right: 10px;
}

.company-list {
    padding-top: 10%;
    padding-left: 25%;
    font-family: 'Open-sans';
    color: #7C5B54;
}

.company-list li {
    text-align: left;
    padding: 4%;
    border-left: 1px solid #7C5B54;
    cursor: pointer;
}

.active {
    background-color: #9d786c61;
    border-left: 3px solid #7C5B54 !important;
}

.exp-content {
    margin: 35px 0 100px 70px;
}

.role-header {
    text-align: left;
    color: #7C5B54;
    font-weight: bold;
    line-height: 1px;
}

.date-subheader {
    text-align: left;
    color: #7C5B54;
    font-size: 12px;
    line-height: 0;
}

.experience-list li {
    list-style: circle !important;
    text-align: left;
    font-size: 14px;
}







@media screen and (max-width: 768px) {
 
    .name {
        font-size: 45px;
    }
    .introduction {
        margin-top: 20px;
        font-size: 14px;
        width: 320px;
    }
    .eyes-follow {
        display: none;
    }

}