.asean-img {
    width: 80% !important;
    margin-left: 10%;
}

.asean-me-img {
    width: 70%;
    margin-left: 12%;
}

.content-card-6 {
    background-color: #FFFFFF;
    width: 79%;
    padding: 50px;
    text-align: left;

    .card-title {
        font-family: 'Finger-paint';
    }
}

@media screen and (max-width: 768px) {
    .asean-img {
        width: 75% !important;
        margin-left: 12%;
    }
    .v2 {
        font-size: 30px;
    }
    .asean-me-img {
        width: 75%;
        margin-left: 1%;
    }
    .content-card-6 {
        width: 75%;
        margin-top: 10%;
        margin-left: 12%;
        padding: 30px;
    }
}