.sustainathon-title {
    font-family: 'Finger-paint';
    font-size: 45px;
    margin-top: 130px;
    margin-bottom: 80px;
    color:#7C5B54;
}

.sustainathon-img {
    width: 60% !important;
    margin-left: 10%;
}

.content-card-4 {
    background-color: #FFFFFF;
    font-family: 'Finger-paint';
    width: 80%;
    height: 80%;
    margin-top: 10%;
    margin-left: 20%;
    padding: 120px;
    text-align: center;
}

.sustainathon-ph-img {
    margin-top: 10%;
    width: 80%;
    margin-right: 10%;
}

.content-card-5 {
    background-color: #FFFFFF;
    width: 80%;
    margin: 10%;
    padding: 50px;
    text-align: left;

    .card-title {
        font-family: 'Finger-paint';
    }
}
