.asean-img {
    width: 80%;
    margin-left: 10%;
}

.asean-me-img {
    width: 70%;
    margin-left: 12%;
}

.content-card-6 {
    background-color: #FFFFFF;
    width: 79%;
    padding: 50px;
    text-align: left;

    .card-title {
        font-family: 'Finger-paint';
    }
}