.time {
  width: 90px;
  position: relative;
  margin-top: -240px;
  margin-left: 340px;
  z-index: 35;
  text-align: center;
  border: 5px solid #F7ECE3;
  padding: 5px;
  border-radius: 10px;
  background-color: #E0B9A5;
  cursor: pointer;
}

.time-text {
  margin-left: 1px;
  color:#305944;
  font-family: 'Digital-Dream';
  font-size: 10px;
  cursor: pointer;
}

.clock-night {
  border: 5px solid #d5b1d5;
  background-color: #f3a0d8;
  box-shadow: 0 0 3px pink, 0 0 5px pink, 0 0 10px pink, 0 0 100px pink;
}

.time-light {
  color: white;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;
}






