.time {
  width: 90px;
  position: relative;
  margin-top: -31vh;
  left: 330%;
  z-index: 5;
  text-align: center;
  border: 5px solid #F7ECE3;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-height: 80px;
  border-radius: 10px;
  background-color: #E0B9A5;
  cursor: pointer;
}

.time-text {
  margin-left: -5%;
  color:#305944;
  cursor: pointer;
}

.clock-night {
  border: 5px solid #d5b1d5;
  background-color: #f3a0d8;
  box-shadow: 0 0 3px pink, 0 0 5px pink, 0 0 10px pink, 0 0 100px pink;
  z-index: 20;
}

.time-light {
  color: white;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;
}






