.lamp {
 width: 120px;
 position: relative;
 top: -18vh;
 left: -368%;
 cursor: pointer;
}

.light {
  border-radius:50%;
  position: fixed;
  background-color: #fff07c93;
  width:55px;
  height: 60px;
 top: -34vh;
 left: -308%;
  box-shadow: 0 0 50px 15px #fff07c;
}

.spot-light {
  border-radius: 100%;
  position: fixed;
  background-color: #fff07ca5;
  box-shadow: 0 0 50px 5px #fff07c;
  width:120px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin-left: -340px;
  margin-top: 250px;
  z-index: 1;
}


