.created-by {
  margin-top: 200px;
  font-family: 'Finger-paint';
}


.light-mode {
    color: #7C5B54;
}

.dark-mode {
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .created-by {
        font-size: 10px;
    }
}