body, html {
  height: 100%;
  margin: 0;
}

/**FONTS**/
@font-face {
  font-family: 'Digital-Dream' ;
  src: url('../src/Assets/Fonts/digital-dream/DIGITALDREAM.ttf');
}

@font-face {
  font-family: 'Oswald' ;
  src: url('../src/Assets/Fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Moon-bold' ;
  src: url('../src/Assets/Fonts/moontypeface-free-font/Moon\ Bold.otf');
}

@font-face {
  font-family: 'Moon-light' ;
  src: url('../src/Assets/Fonts/moontypeface-free-font/Moon\ Light.otf');
}

@font-face {
  font-family: 'Prime-regular' ;
  src: url('../src/Assets/Fonts/Prime/Commercial/OTF/Prime-Regular.otf');
}

@font-face {
  font-family: 'Prime-light' ;
  src: url('../src/Assets/Fonts/Prime/Commercial/OTF/Prime-Light.otf');
}

@font-face {
  font-family: 'Uni-heavy' ;
  src: url('../src/Assets/Fonts/UniSans/Commercial/OTF/UniSansDemo-HeavyCAPS.otf');
}

@font-face {
  font-family: 'Open-sans' ;
  src: url('../src/Assets/Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
  font-family: 'Finger-paint' ;
  src: url('../src/Assets/Fonts/Finger_Paint/FingerPaint-Regular.ttf');
}